@import "src/assets/style/index";

.nav-bar-menu-container {
  display: flex;

  .nav-bar-menu-link-item {
    margin: 0 10px;
    button {
      max-width: 300px;
      span {
        @include trim(1);
      }
    }
  }

  @include mobiles {
    display: none;
  }

}