.chart-section {
    margin-top: 20px;
    min-height: 350px;
    .app-chart {
        display: flex;
        min-height: 350px;
        .react-resizable {
            width: 100% !important;
            overflow: hidden;
        }
    }
    h2 {
        display: flex;
        justify-content: center;
    }
    h2.votes {
        writing-mode: vertical-lr;
        margin: 0 10px;
        flex-direction: row;
    }
}

@media only screen and (max-width: 600px) {
    .chart-section {
        h2 {
            font-size: 10pt;
            margin: 5px;
        }
        h2.votes {
            margin: 2px
        }
    }
}