$red: #f63e54;
$black: black;
$gray: gray;
$light-gray: #EFEFEF;
$app-background: #F2EFE3;

$light-green: #86E2D5;
$orange: #FF4500;
$blue: #3d44c3;
$appleBlue: #027fff;
$light-blue: #00d4ff;
$applePurple: #8d1287;
$appleLightPurple: #622aff;
$pink: #f50057;
$darkGrey:#4F5A65;
$white:#FEFEFE;

$appleGreen: #0c9d46;
$appleTeal: #049cb7;