@import "src/assets/style/index";
.entries-filter-wrapper-container {
  .filter-wrapper {
    border: 2px solid $light-gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    .input-field-wrapper,
    .close-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;
      margin-right: 10px;
      @include tablets-up {
        padding-top: 0;
      }

      .filter-text-input {
        input {
          @include tablets-up {
            min-width: 370px;
          }
          @include mobiles {
            min-width: 224px;
          }
        }
      }
    }
    .property-dropdownm {
      input {
        min-width: 250px;
        @include tablets-up {
          min-width: 300px;
        }
      }
    }
    .property-list {
      margin-right: 10px;
      @include mobiles {
        .search-menu-list {
          min-width: 250px;
        }
      }
    }
  }
}
