@import '../../../../../../../assets/style/index.scss';

.setting-container {
    width: 100%;
    .MuiChip-outlined {
        margin-top: 10px;
        margin-right: 10px;
    }
    .user-groups {
        margin-top: 10px;
    }
}