$red: #f63e54;
$black: black;
$gray: gray;
$light-gray: #efefef;
$app-background: #f2efe3;

$light-green: #86e2d5;
$orange: #ff4500;
$blue: #3d44c3;
$appleBlue: #027fff;
$light-blue: #00d4ff;
$applePurple: #8d1287;
$appleLightPurple: #622aff;
$pink: #f50057;
$darkGrey: #4f5a65;
$white: #fefefe;

$appleGreen: #0c9d46;
$appleTeal: #049cb7;
