@use "./constants.scss" as const;
* {
  font-family: Verdana, Geneva, sans-serif;
}
.App {
  height: 100%;
}

.MuiFormControl-root {
  max-width: 100vw;
}

.MuiDialog-paperWidthSm {
  width: 100%;
}
a {
  text-decoration: none;
  color: #000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .center {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   vertical-align: middle;
// }

.hidden {
  display: none !important;
  opacity: 0 !important;
}

.user-select-none {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-dec-none {
  text-decoration: none;
}

.font-size {
  font-size: 1rem;
}

.full-width {
  width: 100% !important;
}

// Position------------------------------------------------------
.pos-relative {
  position: relative !important;
}

.pos-absolute {
  position: absolute !important;
}

// Border and outline------------------------------------------------------
.border-none {
  border: none !important;
}

.outline-none {
  outline: none !important;
}

.border-radius {
  border-radius: const.constants(border_radius) !important;
}

.border-radius-50 {
  border-radius: 50% !important;
}

// Cursor------------------------------------------------------
.cursor-pointer {
  * {
    cursor: pointer;
  }
}

.cursor-text {
  * {
    cursor: text;
  }
}

//Alignment------------------------------------------------------
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.justify-sb {
  display: flex;
  justify-content: space-between;
}

.inline-align-center {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

// Margin Padding
.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.round-padding {
  padding: 10px !important;
}

.m-10 {
  margin: 10px !important;
}

.p-10 {
  padding: 10px !important;
}

.plr-10 {
  padding: 0 10px !important;
}

.ptb-10 {
  margin: 10px 0 !important;
}

.mtb-10 {
  margin: 10px 0 !important;
}

.mlr-10 {
  margin: 0 10px !important;
}
