@import "src/assets/style/index";
#nav-bar-container {
  flex-grow: 1;
  .menu-title {
    flex-grow: 1;
    color: $white;
  }
  li {
    a {
      text-decoration: none;
    }
  }
}

.responsive-big-left-drawer {
  @include tablets-up {
    width: 500px !important;
  }
}
