.text-editor {
  padding-top: 10px;
  .second-toolbar {
    border: none;
    a {
      pointer-events: none !important;
      span {
        color: transparent !important;
      }
      svg {
        display: none;
      }
    }
  }
  .fr-wrapper {
    border: 0 !important;
  }
  .fr-toolbar {
    border: none !important;
  }
  #videoUpload-1 {
    display: none;
  }
}
