.text-editor {
  .second-toolbar {
    a{
      pointer-events: none !important;
      span {
        color: transparent !important;
      }
      svg{
        display: none;
      }
    }
  }
  #videoUpload-1 {
    display: none;
  }
}