@import "src/assets/style/index";

.common-button-container {
  button {
    span.MuiButton-label {
      display: flex;
      span.MuiButton-startIcon {
        margin-top: 5px;
        @include tablets {
          display: none;
        }
      }
    }
  }
}

