@import "src/assets/style/index";
tr.heading {
  background-color: $primary;
  td {
    text-align: center;
    a {
      color: $white;
      font-size: $font-size-primary;
      text-decoration: none;
    }
  }
  td.td-news-details {
    padding-left: 5px;
    text-align: left;
  }
}