@import "src/assets/style/index";
.reference-editor-wrapper {
  .reference-ids-list-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    .chip {
      margin-left: 5px;
    }
    .reference-list-name {
      text-transform: capitalize;
    }

  }
  .create-model-wrapper {
    border: 1px dashed $gray;
    display: flex;
    justify-content: center;
    padding: 5px;
  }
}
.dialog-modal-container.reference-editor-modal-container {
  .MuiDialog-paperWidthSm {
    height: 100%;
    width: 100%;
    max-width: none;
  }
}