@import "src/assets/style/index";
.reference-editor-wrapper {
  .reference-ids-list-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    .chip {
      margin-left: 5px;
    }
    .reference-list-name {
      text-transform: capitalize;
    }

  }
  .create-model-wrapper {
    border: 1px dashed $gray;
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  .create-entry-wrapper {

    margin: 5px;
    position: fixed; /* Stay in place */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 1;
    .paper-wrapper {
      margin: 10px;
      .create-entry-container {
        padding: 10px;
        position: relative;
        margin: auto;
      }
    }
  }
  .blur-back-grd {
    background: $gray;
  }

}