.hidden-list {
  table {
    width: 100%;
  }
  padding-top: 10px;
  .panel {
    border: 1px solid;
    margin: 0 5px 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 2px;
    button.accessibility {
      padding: 0;
      border: 0;
      background: none;
      cursor: pointer;
      .closed {
        transform: rotate(180deg);
      }
    }
  }
}